# Svent Live GRUB menu (ISO). Classic text menu, red on black.
set color_normal=light-red/black
set color_highlight=white/red
set menu_color_normal=light-red/black
set menu_color_highlight=white/red

set default=0
set timeout=10

menuentry "Start Svent OS [Live]" {
  linux /live/vmlinuz boot=live components quiet splash
  initrd /live/initrd.img
}
menuentry "Start Svent OS [safe graphics]" {
  linux /live/vmlinuz boot=live components nomodeset
  initrd /live/initrd.img
}
menuentry "Start Svent OS [text mode]" {
  linux /live/vmlinuz boot=live components text
  initrd /live/initrd.img
}
menuentry "Install Svent OS" {
  linux /live/vmlinuz boot=live components quiet calamares
  initrd /live/initrd.img
}
menuentry "Check disc for defects" {
  linux /live/vmlinuz boot=live components integrity-check
  initrd /live/initrd.img
}
if [ "${grub_platform}" = "efi" ]; then
  menuentry "UEFI settings" { fwsetup }
fi
menuentry "Shut down" { halt }